body{
	background-color: #4b684f !important;
	 padding-top: 0px;
}

@media (max-width: 768px) {
  body {
    padding-top: 200px;
  }
}
.jumbotron{
	background-color: #4b684f !important;
}

.carousel-inner img {
  margin: auto;
  padding: 20px;
}

#banner img{
	height: auto;
	width: 100%;
}

.sizer {
	width: 75%;
    /* positions out of the flow, but according to the nearest parent */
    top: 20px; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
	padding: 20px;
  
}
